*/build
*/bin
NFCLoginApp/.vs/
NFCLoginApp/NFCLoginApp/NFCLoginApp.Android/bin/
NFCLoginApp/NFCLoginApp/NFCLoginApp.Android/obj/
NFCLoginApp/NFCLoginApp/NFCLoginApp/bin/
NFCLoginApp/NFCLoginApp/NFCLoginApp/obj/